/* --------Start Product Description section-------- */
.product-description-container{
    background-color: #fff;
    border-radius: 10px;
    padding:20px;
}
.product-description-container h4{
    font-size: 17px;
    color: rgb(238, 10, 150);
    border-bottom: 2px solid rgb(233, 5, 119);
}
.product-description-container h6{
    font-size: 15px;
    color: rgb(53, 53, 53);
    border-bottom: 2px solid rgb(233, 5, 119);
}
.product-description-container p.introduction-content{
    font-size: 15px;
    line-height: 32px;
    color: #5c5c5c;
    text-align: justify;
}
.product-description-container .product-description-content .specifications-content span{
    font-size: 15px;
    color: #333333;
}
.vjs-poster {
    display: inline-block;
    background-size: cover;
    background-color: transparent;
}
.product-description-container .nav-link{
    color: #969696;
    font-size: 15px;
    border: none;
}
.product-description-container .nav-link.active{
    color: rgb(241, 10, 99);
    border: none;
    border-bottom: 2px solid rgb(238, 10, 150);
}
.product-description-container .nav-link:hover{
    color: #333333;
}
.comments-tab-pane p{
    font-size: 13px;
    color: #747474;
}
.comments-tab-pane div.rating-container{
    display: flex;
    align-items: center;
} 
.comments-tab-pane .rating-container .feedback{
    width: 266px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.comments-tab-pane .rating-container .feedback .rating{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 150px;
    /* background-color: #ccc; */
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}
.feedback .rating input{
    display: none;
}
.feedback .rating > label{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-image: url("../image/star-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: 0.3s;
    margin-top: auto;
}
.emoji-wrapper .emoji .emoji-0{
    filter: grayscale(100%);
}
.feedback .emoji-wrapper{
    width: 100%;
    text-align: center;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.feedback .emoji-wrapper > .emoji {
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback .emoji-wrapper > .emoji img{
    margin: 15px 0;
    width: 70px;
    height: 70px;
}
.feedback .rating > input:checked ~ label,
.feedback .rating > input:checked ~ label ~ label{
    background-image: url("../image/star-2.svg");
}
.feedback .rating > input:not(:checked) ~ label:hover,
.feedback .rating > input:not(:checked) ~ label:hover ~ label{
    background-image: url("../image/star-3.svg");
}
.feedback .rating > #rating-1:checked ~ .emoji-wrapper .emoji{
    transform: translateY(-100px);
} 
.feedback .rating > #rating-2:checked ~ .emoji-wrapper .emoji{
    transform: translateY(-200px);
} 
.feedback .rating > #rating-3:checked ~ .emoji-wrapper .emoji{
    transform: translateY(-300px);
} 
.feedback .rating > #rating-4:checked ~ .emoji-wrapper .emoji{
    transform: translateY(-400px);
} 
.feedback .rating > #rating-5:checked ~ .emoji-wrapper .emoji{
    transform: translateY(-500px);
} 
.comments-tab-pane button.btn-submit{
    color: rgb(228, 10, 112);
    border: 2px solid rgb(228, 10, 112);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}
.comments-tab-pane button.btn-submit:focus{
    box-shadow: none;
}
.comments-tab-pane button.btn-submit:hover{
    background-color: rgb(228, 10, 112);
    color: #fff;
}
.custom-comment-media img.comment-media-user-image{
    border: 2px solid rgb(190, 190, 190);
}
.custom-comment-media h5{
    font-size: 17px;
    font-weight: 700;
}
.custom-comment-media .comment-media-time{
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}
.custom-comment-media .comment-media-time p{
    font-size: 14px;
    color: #969696;
}
.custom-comment-media .comment-media-time p.badge{
    font-size: 12px;
}
.custom-comment-media .comment-media-content{
    font-size: 15px;
    color: #252525;
}
.custom-comment-media div span{
    font-size: 14px;
    color: #686868;
}
.product-description-container .modal-submit-comment .modal-header{
    padding: 16px;
    border-bottom: 1px solid #d4d4d4;
}
.product-description-container .modal-submit-comment .modal-header div h5{
    font-weight: 700;
    font-size: 17px;
}
.product-description-container .modal-submit-comment .modal-header div p{
    font-size: 13px;
    color: #585858;
}
.product-description-container .modal-submit-comment .modal-body{
    overflow-y: scroll;
    height: 380px;
}
@media (min-width: 576px){
    .product-description-container .modal-submit-comment .modal-dialog {
        max-width: 800px;
        margin: 4.75rem auto;
    }
}
.custom-modal-body .custom-range-input label{
    font-size: 15px;
    color: rgb(194, 0, 81);
}
.custom-modal-body .commenthead-modal-body{
    font-size: 15px;
    color: #000000;
}
.custom-modal-body .modal-body-content-container label{
    font-size: 14px;
    color: rgb(104, 104, 104);
}
.custom-modal-body .modal-body-content-container input{
    font-size: 15px;
    color: #3d3d3d;
}
.custom-modal-body .modal-body-content-container input:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 149, 0.897);
    border-color: transparent;
    color: #3d3d3d;
}
.custom-modal-body .modal-body-content-container textarea:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 149, 0.897);
    border-color: transparent;
    color: #3d3d3d;
}
.modal-submit-comment .modal-content{
    border: none;
}
.essential-tips-section{
    border: 1px solid #efefef;
    border-radius: 20px;
}
.essential-tips-section h6{
    line-height: 26px;
    color: #252525;
}
.essential-tips-section p{
    font-size: 14px;
    color: #646464;
    line-height: 25px;
}
/* --------End Product Description section-------- */