/* --------Start hero slider section-------- */
.hero-slider-section{
    background-image: url("../image/bg-baner.jpg");
    background-size: cover;
    background-position: center;
}
.slider-container img{
    border-radius: 12px;
}
.custom-slider-inner .carousel-caption {
    position: absolute;
    top: 159px;
    z-index: 0;
    right: 0;
    height: 220px;
    width: 400px;
    padding: 20px;
    background-color: rgb(253 210 252 / 65%);
    border-radius: 20px 0 0 20px;
}
.custom-slider-inner .carousel-caption h5{
    color: rgb(230, 32, 72);
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;
}
.custom-slider-inner .carousel-caption p{
    color: rgb(54, 54, 54);
    margin-top: 20px;
}
.post-shop-products{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    /* box-shadow: 1px 1px 10px 1px #e6e6e6; */
}
.post-shop-products img{
    border-radius: 12px;
}
.post-shop-products .shop-products-inner{
    padding: 0 10px;
}
.post-shop-products .shop-products-inner h5{
    color: rgb(53, 53, 53);
}
.post-shop-products .shop-products-inner p{
    color: rgb(230, 32, 72);
    font-weight: 700;
}
.post-shop-products .shop-products-inner p s{
    color: rgb(192, 192, 192);
    font-size: 14px;
    font-weight: 300;
}
.post-shop-products .shop-products-inner a{
    background-color: rgb(238, 20, 103);
    border-radius: 4px;
}
.post-shop-products .shop-products-inner a img{
    vertical-align: -10px;
}
.post-shop-products span{
    top: 35px;
    right: 27px;
    font-size: 17px;
    color: rgb(247, 247, 247);
    background-color: rgb(230, 32, 72);
}
/* --------End hero slider section-------- */