/* -------- Start subscribe newsletter section -------- */
.subscribe-newsletter-section{
    background: linear-gradient(to bottom, #98b7fa, #698cbf);
    background-image: url("../image/subscribe-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px -10px 20px 0px #1e1e1e3d;
}
.subscribe-newsletter-section h3{
    font-size: 33px;
    font-weight: 900;
    color: rgb(248, 248, 248);
    text-shadow: 2px 3px 7px #0c0c0c;
}
.subscribe-newsletter-section .form-control{
    font-size: 15px;
    color: #0140a0;
}
.subscribe-newsletter-section .form-control::placeholder{
    font-size: 15px;
    color: cadetblue;
}
.subscribe-newsletter-section .form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.subscribe-newsletter-section button{
    background-color: rgb(245, 8, 99);
    color: #fff;
    font-size: 15px;
}
.subscribe-newsletter-section button:focus{
    box-shadow: none;
}
.subscribe-newsletter-section button:hover{
    color: #ffffff;
    background-color: rgb(219, 0, 84);
}